<?php include 'header.html'; ?>

<center>
<table border="0" cellpadding="0" cellspacing="0" width="700" height="510" vspace="0" hspace="0" bordercolor="#777777" bgcolor="#ffffff">
<tr><td width="700" height="500" valign="top" bgcolor="#555555"><br>

<!--本分開始-->

<center><table border="1" cellpadding="5" cellspacing="0" width="680" height="490" vspace="0" hspace="0" bordercolor="#000000" bgcolor="#ffffff">
<tr><td valign="top"><br>
<center><img src="img/cart/cartsys4_1.gif" boder="0"></center><br><br>

<!--カート内容-->
<center><table border="1" cellpadding="5" cellspacing="0" width="640" space="0" hspace="0" bordercolor="#bbbbbb" bgcolor="#ffffff">
<tr height="200" bgcolor="#ffffff">
<td align="center">
ご注文をお受け致しました。<p>
受注確認メールを自動送信しました。<p>
注文受付番号：<b><?php echo $order_number; ?></b><p>
</td></tr>
</table></center>
<ul>
<li>直ちに自動送信メールが届かない場合、以下の事が考えられます。
<ul>
<li>メールアドレスの入力間違い
<li>迷惑ホルダーに振り分けられた
<li>サーバ側がメンテナンス中
<li>サーバ側で自動削除された
</ul>
<li>お店側でご注文を確認後、納期等について再度担当者よりメールせて頂きます。
<li>１週間経過してもメールが受け取れない場合、お手数ですがお電話にてお問い合わせ下さい。
</ul>


</td></tr>
<tr>
<td style="text-align: center;">
<button type="button" id="closeButton">閉じる</button>
<script type="text/javascript">
$(function(){
	$('#closeButton').click(function(){
		window.close();
	});
})
</script>
</td>
</tr>
</table></center>

<!--本分終了-->

</td></tr>
</table></center>
<?php include 'footer.html'; ?>
