<!doctype html>
<html lang="ja">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>【pool-j.com】カート決済/<?php echo $title; ?></TITLE>
<META NAME="Description" CONTENT="インテックス社の家庭用大型イージーセットプールは世界で最も販売実績のある有名ブラントです。今年も工場よりコンテナで輸入しています。">
<META NAME="Keywords" CONTENT="インテックス,intex,pool,プール,プロジェクトケー">
<META http-equiv="Content-Style-Type" content="text/css; charset=UTF-8">
<link rel="stylesheet" href="css/style.css" media="all">
<?php /*
<link rel="stylesheet" href="css/jquery-ui-1.8.16.custom.css" media="all">
*/ ?>
<STYLE type="text/css">
<!--
BODY,P,TD,TH,TR,FORM{
  font-size : 10pt;
  font-family : "ＭＳ ゴシック";
}
-->
</STYLE>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</HEAD>

<!--トップ共通-->
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#abcdef" text="#000000" background="bgpool.jpg" bgproperties="fixed" alink="#000000" vlink="#000000" link="#000000">
<center><img src="img/top/topcart.jpg" border="0"></center>
