<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" cpmtemt="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>設定</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/setting.css">
	<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="nav navbar-default" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="setting_config.php">config編集</a></li>
				<li><a href="setting_mail.php?t=user">購入者用メール本文編集</a></li>
				<li><a href="setting_mail.php?t=admin">管理者用メール本文編集</a></li>
			</ul>
		</div>
	</div>
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/setting.js"></script>
</body>
</html>